:root{
    --dark-bg: #1f2937;
    --light-text: #f9faf8;
    --accent-blue: #3882f6;
    --gray-bg: #e5e7eb;
    --white-text: #ffffff;
}

*,::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--dark-bg);
    color: var(--gray-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.125rem;
}

.hero {
    background-color: var(--dark-bg);
    display: flex;
    padding: 6rem 10%;
    align-items: center;
    gap: 3rem;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    color: var(--light-text);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero-content p {
    color: var(--light-text);
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.btn-solid {
    background-color: var(--accent-blue);
    color: var(--white-text);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    flex: 1;
    background-color: var(--gray-bg);
    height: 15.625rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--white-text);
}

.info {
    padding: 4rem 10%;
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.card{
    max-width: 9.375rem;
}

.box{
    border: 0.25rem solid var(--accent-blue);
    border-radius: 0.938rem;
    height: 9.375rem;
    width: 9.375rem;
    margin-bottom: 0.5rem;
}

.quote {
    background-color: var(--gray-bg);
    padding: 6rem 20%;
}

.quote blockquote {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote figcaption {
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
}

.cta {
    padding: 5rem 15%;
}

.cta-banner {
    background-color: var(--accent-blue);
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-text);
}

.btn-outline{
    background-color: var(--accent-blue);
    border: 0.125rem solid var(--white-text);
    color: var(--white-text);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

footer{
    background-color: var(--dark-bg);
    color: var(--white-text);
    text-align: center;
    padding: 2rem;
}